/* Sección 3 Diálogo */

.main__section3{
    display: grid;
    .main__section3__div{
        display: grid;
        .main__section3__div__p__midas{
            color: $color-negro;
            background-color: $color-amarillo;
            border-radius: 5px;
            padding: 5px;
        }
        .main__section3__div__p__zoe{
            color: $color-negro;
            background-color: $color-azul;
            border-radius: 5px;
            padding: 5px;
        }
        .main__section3__div__img{
            width: 10%;
        }
        .main__section3__div__form{
            color: $color-blanco;
        }
        .main__section3__div__label{
            color: $color-blanco;
        }
    }
}