/* Sección 1 Portada */

.main{
    background-color: rgb(0, 0, 0);
    .main__section1{
        
        .main__section1__div__contenedor{
            position: relative;
            display: inline-block;
            text-align: center;
            .main__section1__div__h1__centrado{
                color: $color-negro ;
                font-family: 'Roboto';
                font-size: 60px;
                text-align: initial;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
            .main__section1__div__img{
                width: 100%;
                height: auto;
            }
        }
    }
}