/* Sección 2 Entendemos */

.main__section2{
    display: grid;
    .main__section2__h2{
        text-align: center;
        font-size: 'Roboto';
        color: $color-blanco;
    }
    .main__section2__div{
        display: grid;
        .main__section2__div__img{
            width: 15%;
        }
        .main__section2__div__p{
            font-size: 'Roboto';
            color: $color-blanco;
        }
    }
}